.nav {
  width: 60px;
  position: fixed;
  height: 100vh;
  background-color: #212529;
  left: 0;
  top: 0;
  z-index: 100;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.links img {
  width: 30px;
  filter: invert(1);
  padding: 8px 0;
}
.active img {
  width: 35px;
  filter: invert(67%) sepia(82%) saturate(739%) hue-rotate(161deg)
    brightness(96%) contrast(85%);
}
.links img:hover {
  filter: invert(67%) sepia(82%) saturate(739%) hue-rotate(161deg)
    brightness(96%) contrast(85%);
}
@media (max-width: 576px) {
  .nav {
    height: 60px;
    width: 100vw;
    bottom: 0;
    top: unset;
  }
  .links {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
