.container {
  width: 270px;
  text-align: center;
  height: 320px;
  border-radius: 8px;
  position: relative;
  margin: 15px 15px 15px 0;
}
.albumImg {
  width: 250px;
  margin-top: 10px;
  border-radius: 8px;
}
.info h4 {
  margin: 0 auto;
  font-weight: 400;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info span {
  font-weight: 300;
}
.player {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 10px;
}
.container:hover {
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    rgba(78, 168, 222, 1) 0%,
    rgba(72, 191, 227, 1) 20%,
    rgba(86, 207, 225, 1) 40%,
    rgba(100, 223, 223, 1) 60%,
    rgba(114, 239, 221, 1) 80%,
    rgba(128, 255, 219, 1) 100%
  );
  background-size: 100%;
  color: #000;
}
.container:hover .player {
  display: inline;
}
.container:hover .albumImg {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .container {
    width: 250px;
    height: 300px;
  }
  .albumImg {
    width: 230px;
  }
  .info h4 {
    width: 230px;
  }
}
